[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Adam Gian
	email = contact@adamgian.com
	signingkey = 8E32320786E98B6A
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[credential]
	username = adamgian
