[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Adam Gian
	email = contact@adamgian.com
	signingkey = EE3940F80D78A976
[commit]
	gpgsign = true
